@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

/* TODO: test light mode colors */
body {
    --bg: #ffffc3;
    --fg: #ffd400;
    --txt: #000000;
    --mbbg: #ffcd83;
    --edbg: #f9f9f9;
    --ol1: #ff9191;
    --ol2: #90b2ff;
    --key: #ffd300;
    --val: #ffffff;
    --header-bg: #ffff4b;
    font-family: Hack, monospace;
    padding: 0px;
    margin: 0px;
    color: var(--txt);
    background: var(--bg);
}

.header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: #000000;
    background: var(--header-bg);
    border: 7px solid var(--fg); 
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: var(--mbbg);
}

.body {
    display: flex;
    justify-contents: space-between;
    align-items: center;
    padding: 20px;
    height: 80vh;
}

.container {
    height: 100%;
    margin: 10px;
    overflow: scroll;
}

.tag {
    opacity: 0.7;
}

.name {
    font-size: 1.5rem;
}

.outline, .calendar, .editor {
    border: 5px solid #000000;
    border-radius: 20px;
    color: var(--txt);
    background: var(--edbg);
}

.outline {
    width: calc(25% - 40px);
    height: calc(100% - 40px);
    padding: 20px; 
}

.outline-level-1 {
    font-size: 1.25rem;
    color: var(--ol1);
}

.outline-level-2 {
    color: var(--ol2);
    padding-left: 1.25rem;
}

.outline-level-3 {
    padding-left: 2.5rem;
}

.key {
    font-weight: bold;
    color: var(--key);
    vertical-align: top;
}

.val {
    color: var(--val);
    vertical-align: top;
}

.calendar {
    display: grid;
    width: 50%;
}

.day {
    display: grid;
}

.editor {
    width: 25%;
}

.editor-text-area {
    font-size: 1rem;
    font-family: Hack, monospace;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border: none;
    resize: none;
    color: var(--txt);
    background: var(--edbg);
}

.editor-text-area:focus {
    outline: none;
}

.footer {
    text-align: center;
    color: #000000;
    background: var(--fg);
    padding: 20px;
}

 
@media (prefers-color-scheme: dark) {
    body {
        --bg: #292929;
        --txt: #ffffff;
        --mbbg: #000000;
        --edbg: #252323;
    }
}

