@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css');

body {
    --bg: white;
    --fg: #FFE600;
    --txt: black;
    --edbg: white;
    font-family: Hack, monospace;
    padding: 0px;
    margin: 0px;
    color: var(--txt);
    background: var(--bg);
}

.header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 7px solid var(--fg); 
}

.body {
    display: flex;
    justify-contents: space-between;
    align-items: center;
    padding: 20px;
    height: 80vh;
}

.container {
    height: 100%;
    margin: 10px;
    overflow: scroll;
}

.outline {
    width: 25%;
    color: var(--txt);
    background: var(--edbg);
}

.calendar {
    width: 50%;
    color: var(--txt);
    background: var(--edbg);
}

.editor {
    width: 25%;
}

.editor-text-area {
    font-size: 1rem;
    font-family: Hack, monospace;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border: none;
    resize: none;
    color: var(--txt);
    background: var(--edbg);
}

.editor-text-area:focus {
    outline: none;
}

.footer {
    text-align: center;
    color: black;
    background: var(--fg);
    padding: 20px;
}

@media (prefers-color-scheme: dark) {
    body {
        --bg: #292929;
        --txt: white;
        --edbg: #252323;
    }
}

